{% extends 'book/base.html' %}

{% block content %}
<div class="container mt-3">
    <h1>Books</h1>
    <a href="{% url 'book_create' %}" class="btn btn-primary mb-3">Add Book</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Date</th>
                <th>Cover Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publication_date }}</td>
                <td>
                    {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="Book Cover" class="img-fluid" style="max-height: 100px;">
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'book_detail' book.pk %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'book_update' book.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                    <button onclick="confirmDelete('{{ book.title }}', {{ book.pk }})" class="btn btn-danger btn-sm">Delete</button>
                    <form id="delete-form-{{ book.pk }}" action="{% url 'book_delete' book.pk %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function confirmDelete(title, bookId) {
    if (confirm("Are you sure you want to delete the book '" + title + "'?")) {
        // If user confirms, submit the form to delete the book
        document.getElementById('delete-form-' + bookId).submit();
    }
}
</script>

{% endblock %}
